.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  padding-right: 20px;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
}

.spacing{
  padding-top: 15px;
  padding-bottom: 15px;
}

.spacing2{
  padding-top: 5px;
  padding-bottom: 5px;
}

.lists{
  padding-left:30px;
}

.prLine{
  border: 1px solid #d5d5d5
}

.flairG{
  background-color: rgb(0, 87, 0);
  color:#F8F4F9;
  padding-top: 20px;
  border-radius: var(--border-radius);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  width: 50%;
}

.flairB{
  background-color: rgb(0, 34, 171);
  color:#F8F4F9;
  padding-top: 20px;
  border-radius: var(--border-radius);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  width: 50%;
}

.flairR{
  background-color: #A70000;
  color:#F8F4F9;
  padding-top: 20px;
  border-radius: var(--border-radius);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  width: 50%;
}

.flairP{
  background-color: #66058c;
  color:#F8F4F9;
  padding-top: 20px;
  border-radius: var(--border-radius);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  width: 50%;
}

.flairG2{
  background-color: rgb(0, 87, 0);
  color:#F8F4F9;
  padding: 10px;
  border-radius: var(--border-radius);
  width: 25%;
}

.flairB2{
  background-color: rgb(0, 34, 171);
  color:#F8F4F9;
  padding: 10px;
  border-radius: var(--border-radius);
  width: 25%;
}

.flairR2{
  background-color: #A70000;
  color:#F8F4F9;
  padding: 10px;
  border-radius: var(--border-radius);
  width: 25%;
}

.flairP2{
  background-color: #66058c;
  color:#F8F4F9;
  padding: 10px;
  border-radius: var(--border-radius);
  width: 25%;
}

.personalCard{
  color:#F8F4F9;
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: #450033;
  font-family: var(--font-mono);
}

.personalCard2{
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: #450033;
  color:#F8F4F9;
  width: 50%;
  font-family: var(--font-mono);
}

.personalCard:hover{
  box-shadow: 2px 2px 2px 2px #9b4885;
}

.personalCard2:hover{
  box-shadow: 2px 2px 2px 2px #9b4885;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 2px solid #333;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 17px;
  line-height: 1.5; 
  padding-bottom: 10px;
  padding: 10px;
}

.accentcardR{
  padding-top: 30px;
  border-radius: var(--border-radius);
  background-color: #A70000;
  border: 2px solid #f2f2f2;
  text-align: center;
  height: 100px;
  width: 50%;
}

.accentcardR2{
  padding-top: 20px;
  border-radius: var(--border-radius);
  background-color: #A70000;
  border: 2px solid #f2f2f2;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  width: 50%;
}

.accentcardW2{
  padding-top: 20px;
  border-radius: var(--border-radius);
  background-color: #F8F4F9;
  color: #A70000;
  border: 2px solid #A70000;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  width: 50%;
}

.accentcardR3{
  padding-top: 20px;
  border-radius: var(--border-radius);
  background-color: #A70000;
  border: 2px solid #f2f2f2;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-right: 10px;
}

.accentcardR3 p{
  color:#f2f2f2;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 7px;
}

.accentcardR4{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  background-color: #A70000;
  border: 2px solid #f2f2f2;
  text-align: center;
  height: 75px;
  width: 25%;
}

.accentcardR5{
  justify-content: center;
  padding: 10px;
  align-items: center;
  border-radius: var(--border-radius);
  background-color: #A70000;
  border: 2px solid #f2f2f2;
  text-align: center;
  width: 33%;
}

.dualdef{
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  width: 50%;
}

.dualdef h3{
  color:#FF0000;
  font-size: 25px;
  padding: 10px;
}

.dualdef p{
  color:#f2f2f2;
  font-size: 20px;
  padding: 5px;
}

.vl {
  border-left: 6px solid #d5d5d5;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.rulesHr{
  border: 1px solid #d5d5d5;
}

.rulesHr2{
  border: 1px solid #A70000;
}

.decorativep{
  color:#d5d5d5;
  padding: 5px;
}

.decorativep2{
  color:#f2f2f2;
  padding: 5px;
}

.decorativep3{
  color:#A70000;
  padding: 5px;
}

.decorativep4{
  color:#f2f2f2;
  padding: 5px;
  text-align: center;
}

.definitionp{
  color:#f2f2f2;
  padding: 5px;
  font-size: 20px;
}

.desiredfont{
  font-family: var(--font-mono);
}

.middle{
  width: 20px;
}

.middle2{
  width: 10px;
}

.quoteS{
  font-family: var(--font-mono);
  padding-left: 40px;
}

.quoteS p {
  color:#f2f2f2;
}

.accentWord{
  color:#A70000;
}

.accentcardR2 li{
  padding: 5px;
}

.imgdiv{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center_div{
  text-align: center;
  width:50%;
  padding-top:30px;
}

.multipleC{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;

}

.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navli {
  float: left;
}

.navLink {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: var(--font-mono);
}

.intextLink{
  text-decoration: none;
  color: #FF0000;
}

.intextLink:hover{
  font-weight: bold;
}

.intextLink2{
  text-decoration: none;
  color: #ca84ff;
}

.intextLink2:hover{
  font-weight: bold;
}

.intextLinkR{
  text-decoration: none;
}

.intextLinkR:hover{
  font-weight: bold;
  color: rgb(255, 154, 154);
}

.intextLinkB{
  text-decoration: none;
}

.intextLinkB:hover{
  font-weight: bold;
  color: rgb(135, 185, 245);
}

.intextLinkG{
  text-decoration: none;
}

.intextLinkG:hover{
  font-weight: bold;
  color: rgb(97, 255, 118);
}

.intextLinkP{
  text-decoration: none;
}

.intextLinkP:hover{
  font-weight: bold;
  color: rgb(179, 97, 255);
}

.active{
  display: block;
  background-color: #7E0000;
  color:#f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: var(--font-mono);
}

.navLink:hover {
  background-color: #f2f2f2;
  color: black;
}

.title{
  font-family: var(--font-mono);
  padding-bottom: 20px;
  padding: 10px;
}

.title_center{
  font-family: var(--font-mono);
  padding-bottom: 20px;
  padding: 10px;
  text-align: center;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 2px solid #f2f2f2;
  }

  .dualdef:hover{
    background: rgba(var(--card-rgb), 0.1);
    border-radius: var(--border-radius);
    border: 2px solid #333;
  }

  .accentcardR:hover {
    background-color:#f2f2f2;
    border: 2px solid #A70000;
    color: #A70000;
  }

  .accentcardR4:hover {
    background-color:#f2f2f2;
    border: 2px solid #A70000;
    color: #A70000;
  }

  .flairG:hover{
    border: 2px solid #F8F4F9;
  }

  .flairG2:hover{
    border: 2px solid #F8F4F9;
  }

  .flairB:hover{
    border: 2px solid #F8F4F9;
  }

  .flairB2:hover{
    border: 2px solid #F8F4F9;
  }

  .flairR:hover{
    border: 2px solid #F8F4F9;
  }

  .flairR2:hover{
    border: 2px solid #F8F4F9;
  }

  .flairP:hover{
    border: 2px solid #F8F4F9;
  }

  .flairP2:hover{
    border: 2px solid #F8F4F9;
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 10%;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .description {
    font-size: 0.8rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 10%;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
